.node {
  width: 25px;
  height: 25px;
  margin: -4px 0px;
  display: inline-block;
  background-color: #3a6b7e;
  border: 1px solid white;
}

.node:hover:not(.node-start):not(.node-finish) {
  background-color: lightblue;
}

.node-start {
  background-color: #5cf64a;
}

.node-finish {
  background-color: #f6511d;
}

.node-wall {
  background-color: black;
}

.node-visited:not(.node-start):not(.node-finish) {
  background-color: #2a9d8f;
}

.node-shortest-path:not(.node-start):not(.node-finish) {
  background-color: #e9c46a;
}

.node-current {
  background-color: yellow;
}
