.body {
  min-width: 1250px;
}

.grid-container {
  margin-top: 20px;
}

.title {
  position: absolute;
  left: 20px;
  top: 20px;
  margin: auto;
  font-size: 30px;
}

.menu {
  padding: 10px 0px;
  background-color: #6f5e76;
  color: white;
  border: 1px solid black;
}

.btn {
  background-color: white;
}

.menu-group-container {
  margin-left: 20%;
}

.menu-group {
  display: inline-block;
  margin: 0px 5px;
}

.menu-group h2 {
  text-align: left;
  font-weight: 600;
  font-size: 15px;
}

.menu-group h3 {
  text-align: left;
  font-weight: 600;
  font-size: 12px;
}

.menu-subgroup {
  display: inline-block;
  padding: 0px 2px;
}

.help-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: black;
  opacity: 0.5;
  border-radius: 100%;
  border: 1px solid white;
}

.help-btn:hover {
  opacity: 1;
}

.help-txt {
  margin: auto;
  position: relative;
  top: -6px;
  color: white;
  font-size: 26px;
  font-weight: 500;
}
