.grid {
  margin-top: 50px;
}

.title {
  position: absolute;
  left: 20px;
  top: 20px;
  margin: auto;
  font-size: 30px;
}

.menu {
  padding: 10px 0px;
  background-color: #6f5e76;
  color: white;
  border: 1px solid black;
}

.btn {
  background-color: white;
}

.menu-group-container {
  margin-left: 10%;
}

.menu-group {
  display: inline-block;
  margin: 0px 5px;
}

.menu-group h2 {
  text-align: left;
  font-weight: 600;
  font-size: 15px;
}
